body{
    background-image: url(./pics/backgroundImage1.jpg);
    background-size: cover;
}

.btn{
    background-color: white;
    color: #0069D9;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15vh;
    left: 30vw;
}

.list-group-item{
    display: list-item;
}